
// header
.header {
  z-index: 2;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;

  .header-inner {
    margin: 0 auto;
    padding: 20px 40px 10px 40px;

    .header-container {
      display: flex;
  
      .logo {
        cursor: pointer;
        font-weight: bold;
        padding: 5px 15px 5px 0;
        border-bottom: 5px solid #eee;
      }
  
      .display-link {
        cursor: pointer;
        font-weight: bold;
        padding: 5px 0;
      }
    }
  
    .header-icons-container {
      display: flex;
      position: relative;

      input {
        outline: none;
        padding: 10px 35px;
        border-radius: 3px;
        border: 3px solid #eee;
        background-color: #eee;
        outline: none;
        font-weight: bold;
        outline: none;
        margin-right: 5px;

        &:focus {
          border: 3px solid lightgray;
        }
      }

      .search {
        background-size: cover;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 20px;
        height: 20px;
      }

      .close {
        margin: auto 5px;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-size: cover;
        background-image: url('./assets/icons/cross.svg');
        cursor: pointer;
      }
  
      .header-icons {
        background-size: cover;
        cursor: pointer;
        display: block;
        margin-bottom: 3px;

        .cart-indicator, .favorites-indicator {
          margin: 0 0 0 auto;
          border-radius: 100%;
        }

        .cart-indicator {
          background-color: #7ACFF8;
        }

        .favorites-indicator {
          background-color: #f76d63;
        }
      }
    }
  }
}

.user-options {
  position: fixed;
  background-color: white;
  right: 40px;
  border: 1px solid lightgray;
  border-radius: 3px;

  p {
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: lightgray;
    }
  }
}

.no-items {
  position: relative;
  height: 100vh;

  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// loading
.loading-container {
  position: relative;
  height: 100vh;

  .loader {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('./assets/icons//loader.gif');
  }
}

// modal
.modal {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
}

.header-modal {
  position: fixed;
  background-color: white;

  h1 {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .img-container {

    img {
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }
  }

  .item-info {
    margin: 10px 0 0 0;

    .item-name {
      font-size: 12px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 10px;
    }

    .item-price {
      font-size: 12px;
      font-weight: bold;
      margin-left: auto;
    }

    .item-type {
      font-size: 10px;
      font-weight: bold;
      color: lightgray;
    }
  }

  .cart-button, .continue-button {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: none;
    margin: 20px 0 0 0;
    cursor: pointer;
    outline: none;
    font-weight: bold;
  }

  .cart-button {
    background-color: black;
    color: white;
  }

  .continue-button {
    background-color: #eee;
    color: black;
  }
}

.search-modal {
  background-color: white;
  right: 0px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100px;

  .h4 {
    font-weight: bold;
  }

  .view {
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
  }

  input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-weight: bold;
    background-color: #eee;
    outline: none;
    width: 50;
  }

  button {
    margin: 10px;
    padding: 15px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    outline: none;
  }

  .loading {
    flex: 1;
    position: relative;

    .loader {
      margin: auto;
      width: 100px;
      height: 100px;
      background-size: cover;
      background-image: url('./assets/icons/loader.gif');
    }
  }

  .results {
    margin: 20px 0 0 0;
    flex: 1;
    
    .result {
      float: left;

      .result-inner {
        padding: 10px;
        
        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
          border-radius: 3px;
          margin-bottom: 5px;
        }

        .result-name {
          font-size: 12px;
          font-weight: bold;
          margin: 0 5px 0 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .result-price {
          font-size: 12px;
          font-weight: bold;
          margin: 3px 0 0 auto;
        }

        .result-type {
          margin-top: 1px;
          font-weight: bold;
          color: lightgray;
          font-size: 10px;
        }
      }
    }
  }
}

// authenticate modal
.authenticate-modal {
  height: 100vh;
  background-color: white;
  padding: 80px 40px;
  position: fixed;
  right: 0px;

  .close {
    width: 30px;
    height: 30px;
    margin-left: auto;
    background-size: cover;
    background-image: url('./assets/icons/cross.svg');
    cursor: pointer;
  }

  .login, .register {
    position: absolute;
    margin: auto auto;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 12px;
      font-weight: bold;
      color: #facfcf;
      margin-top: 5px;
    }

    p {
      cursor: pointer;
      font-weight: bold;
      color: lightgray;
      font-size: 12px;
      display:inline-block;

      &:hover {
        color: black;
      }
    }

    input {
      padding: 10px;
      width: 100%;
      background-color: white;
      border-radius: 3px;
      border: 3px solid #eee;
      outline: none;
      margin: 10px auto;
      display: block;
      font-weight: bold;
      font-size: 12px;
  
      &:focus {
        box-shadow: 0 0 3px #ddd;
      }
    }

    button {
      float: right;
      padding: 10px 20px;
      font-weight: bold;
      font-size: 12px;
      background-color: #eee;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: lightgray;
      }
    }
  }
}

// notification modal
.notification-modal {
  width: 25%;
  border-radius: 3px;
  background-color: lightgray;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  font-size: 8px;
  text-align: center;
  color: white;
  cursor: pointer;
}

// update password modal
.update-password-modal {
  position: fixed;
  padding: 40px;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50%;

  h1 {
    font-size: 15px;
    margin-bottom: 20px;
  }

  p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  input {
    padding: 10px;
    width: 100%;
    border: 3px solid #eee;
    outline: none;
    border-radius: 3px;
    margin-bottom: 20px;

    &:focus {
      box-shadow: 0 0 3px #ddd;  
    }
  }

  .cancle {
    background-color: lightgray;
    text-align: center;
    margin-top: 10px;
  }
  
  button {
    background-color: black;
  }
  
  button, .cancle {
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    width: 100%;
  }
}

// footer
.footer {
  width: 100%;
  height: 200px;
  background-color: #eee;
}

// item | favorites | item option
.display-item, .favorite-item {
  float: left;

  .display-item-inner, .favorite-item-inner {
    padding: 20px;
  }
}

.item-option {
  display: inline-block;
  flex: 0 0 auto;

  .item-option-inner {
    padding: 0 10px;
  }
}

.display-item, .favorite-item, .item-option {
  height: 100%;

  .display-item-inner, .favorite-item-inner, .item-option-inner {
    position: relative;
    width: 100%;

    .like, .remove {
      width: 25px;
      height: 25px;
      margin-left: auto;
      background-size: cover;
      cursor: pointer;
      border-radius: 100%;
    }

    .like {
      background-image: url('./assets/icons/heart.svg');
    }

    .remove {
      background-image: url('./assets/icons/cross.svg');
      margin-bottom: 10px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin-bottom: 15px;
      border-radius: 3px;
    }

    .item-name {
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 10px;
      font-weight: bold;
    }

    .item-price {
      font-size: 13px;
      font-weight: bold;
      margin-left: auto;
    }

    .item-type {
      font-size: 12px;
      margin-top: 5px;
      font-weight: bold;
      color: lightgray;
    }

    select {
      flex: 1;
      padding: 10px;
      margin: 20px 10px 0 0;
      border: none;
      border-radius: 3px;
      font-size: 12px;
      outline: none;
      font-weight: bold;
    }

    button {
      margin: 20px 0 0 auto;
      padding: 10px 20px;
      border-radius: 5px;
      border: 2px solid lightgray;
      background-color: lightgray;
      color: white;
      cursor: pointer;
      outline: none;
      font-weight: bold;
      font-size: 12px;

      &:hover {
        border: 2px solid black;
        background-color: black;
      }
    }
  }

  .color-view-container {
    display: flex;
    margin-bottom: 10px;

    .color-view {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      cursor: pointer;
      border: 1px solid #eee;
    }
  }
}

// home
.home {
  display: flex;
  justify-content: center;

  .item-container {
    padding: 0 20px;

    h1 {
      margin: 0 0 20px 0;
    }

    .display-item-body {

      .display-item-home {
        position: relative;
        cursor: pointer;
  
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
          display: block;
        }
  
        .msg {
          position: absolute;
          padding: 10px 20px;
          background-color: white;
          border-radius: 20px;
          font-size: 15px;
  
          &:hover {
            background-color: rgba(255,255,255,0.9);
          }
        }
      }
    }
  }
}

// display
.display {
  overflow: hidden;
  padding-top: 40px;
}

.display-header {
  margin: 10px auto 10px auto;
  display: flex;
  
  .directory {
    margin: auto auto auto 0;
    margin-top: 10px;
  }

  .display-directory {
    margin: auto auto auto 0;
    margin-top: 10px;
  }

  .filter {
    margin: auto 10px 0 0;
    cursor: pointer;
    font-weight: bold;
  }

  .options {
    border: none;
    outline: none;
    font-weight: bold;
    margin-left: 10px;

    option {
      font-weight: bold;
    }
  }

  .sort-by-container {
    display: flex;
    margin: auto 0 0 0;

    p {
      padding-top: 2px;
    }
  }
}

.item-type-container {
  margin: 0 auto;

  p {
    margin: 5px 0;
    cursor: pointer;
  }
}

// profile
.profile {
  overflow: hidden;
}

// profile & checkout
.navigation-header {
  padding: 20px 0 10px 0;
  display: flex;
  // border-bottom: 3px solid #eee;
  margin: 0 20px;

  .navigation {
    margin: auto 0 auto auto;
    display: flex;

    h2 {
      color: lightgray;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }
  }
}

// settings
.settings {
  padding: 0 20px 20px 20px;
  width: 100%;

  form {
    width: 100%;
  }

  p {
    font-weight: bold;
    font-size: 10px;
    margin-top: 20px;
  }

  h1 {
    font-size: 20px;
    margin: 10px 0 30px 0;
  }

  h3 {
    margin-top: 10px;
    font-size: 20px;
  }

  input {
    padding: 20px;
    width: 100%;
    border: 3px solid #eee;
    margin: 10px 0 10px 0;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 0 3px white;
    font-weight: bold;

    &:focus {
      box-shadow: 0 0 3px #ddd;
    }
  }

  .edit-password {
    margin: 10px 0 30px 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
    font-weight: bold;
    display: inline-block;

    &:hover {
      background-color: black;
    }
  }

  .cancle {
    background-color: lightgray;
    text-align: center;
    margin-top: 10px;
  }
  
  button {
    background-color: black;
  }
  
  button, .cancle {
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    width: 100%;
  }
}

// Orders
.order-list {
  padding: 20px;

  .ordered {
    margin-bottom: 60px;
    border: 3px solid #eee;
    border-radius: 3px;

    .order-header {
      background-color: #eee;
      padding: 20px;

      p {
        font-weight: bold;
        font-size: 12px;
      }
    }

    .order-body {
      padding: 40px;
      
      .order-options {
        display: flex;

        p {
          margin: 0 20px;
          font-weight: bold;
        }

        button {
          cursor: pointer;
          background-color: transparent;
          border: none;
          font-weight: bold;
          outline: none;
          font-size: 12px;
        }
      }
    }
  }
}

// order & cart
.order-item {
  padding-bottom: 30px;

  .order-item-inner {

    .img-link {
      margin-right: 20px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
        margin-bottom: 10px;
      }  
    }

    .order-info {
      margin: auto 0;
      height: 100%;
  
      p {
        font-weight: bold;
        font-size: 12px;
      }
  
      button {
        margin-top: 10px;
        background: white;
        border: none;
        cursor: pointer;
        outline: none;
        font-weight: bold;
        background-color: #eee;
        padding: 10px;
        border-radius: 3px;
        font-size: 12px;
      }
    }

    .quantity-container {
      display: flex;

      button {
        width: 20px;
        height: 20px;
        border-radius: 3px;
        border: none;
        background-color: #eee;
        cursor: pointer;
        outline: none;
      }

      p {
        font-size: 12px;
        font-weight: bold;
        margin: auto 0;
      }
    }
  }
}

// cart
.cart {
  
  .cart-items-container {
    flex: 1;
    padding: 20px 20px 0 20px;
  }
}

// cart & order
.summary {

  p {
    font-weight: bold;
  }

  .total {
    font-size: 15px;
    margin: 20px 0 40px 0;
    padding: 20px 0;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
  }

  button {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    background-color: black;
    color: white;
    border: none;
  }

  .paypal {
    margin-top: 20px;
    background-color: #eee;
    color: black;
  }
}

// order
.order {
  .order-details {
    flex: 1;
    padding: 20px;

    p {
      font-size: 10px;
      font-weight: bold;
      margin-top: 10px;
    }

    h1 {
      margin-bottom: 15px;
      font-size: 20px;
    }
  
    input, select {
      padding: 20px;
      border: 3px solid #eee;
      width: 100%;
      margin: 10px 0;
      font-weight: bold;
      border-radius: 3px;
      outline: none;
      box-shadow: 0 0 3px white;

      &:focus {
        box-shadow: 0 0 3px #ddd;
      }
    }
  
    button {
      padding: 20px;
      margin: 10px;
    }
  }
}

// favorites
.favorites {
  margin: 10px 0;
}

// item
.item {
  padding: 20px 10px 10px 10px;
  
  .item-top {
    padding: 0 10px;

    .item-left {
      flex: 1;
      width: 100%;
      overflow: auto;

      img {
        width: 50%;
        display: block;
        float: left;
      }
    }
  
    .item-right {

      p {
        font-weight: bold;
      }
  
      .item-info {
        display: flex;
        margin-bottom: 5px;
  
        .item-type {
          font-size: 12px;
          color: lightgray;
        }
  
        .item-price {
          font-size: 12px;
          margin-left: auto;
        }
      }
  
      .item-name {
        font-size: 15px;
        margin-bottom: 20px;
      }
  
      .item-select-info {
        margin-bottom: 10px;
        font-size: 12px;
      }
  
      select {
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
        font-weight: bold;
        border: 3px solid #eee;
        border-radius: 3px;
        outline: none;
      }

      option {
        font-weight: bold;
      }
  
      button {
        display: block;
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        border: none;
      }
  
      .add {
        color: white;
        background-color: black;
        margin-bottom: 20px;
      }
    }
  }

  .item-bottom {
    
    h1 {
      font-size: 15px;
      margin: 60px 10px 20px 10px;
    }

    .item-options-container {
      display: flex;
      overflow-x: auto;
      padding-bottom: 20px;
    }
  }
}
