
// header
.header {
  z-index: 2;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;

  .header-inner {
    margin: 0 auto;
    padding: 20px 40px;

    .header-container {
      display: flex;
      padding-bottom: 10px;
  
      .logo {
        cursor: pointer;
        font-weight: bold;
        padding: 5px 15px 5px 0;
        border-bottom: 3px solid #eee;
      }
  
      .display-link {
        cursor: pointer;
        font-weight: bold;
        padding: 5px 0;
      }
    }
  
    .header-icons-container {
      display: flex;
      margin: 0 0 0 auto;

      input {
        border: 1px solid lightgray;
        outline: none;
        padding: 0 5px;
        border-radius: 3px;
        
        &:focus {
          border: 1px solid gray;
        }
      }
  
      .header-icons {
        background-size: cover;
        cursor: pointer;

        .cart-indicator, .favorites-indicator {
          margin: 0 0 0 auto;
          border-radius: 100%;
        }

        .cart-indicator {
          background-color: #42aaf5;
        }

        .favorites-indicator {
          background-color: #f76d63;
        }
      }
    }
  }
}

.no-items {
  position: relative;
  height: 100vh;

  h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// loading
.loading-container {
  position: relative;
  height: 100vh;

  .loader {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('./assets/icons//loader.gif');
  }
}

// modal
.modal {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
}

.header-modal {
  position: fixed;
  background-color: white;

  h1 {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .img-container {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .item-info {
    margin: 10px 0 0 0;

    p {
      font-size: 12px;
    }
  }

  .cart-button, .continue-button {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    border: none;
    margin: 20px 0 0 0;
    cursor: pointer;
    outline: none;
  }

  .cart-button {
    background-color: black;
    color: white;
  }

  .continue-button {
    background-color: #eee;
    color: black;
  }
}

.search-modal {
  position: absolute;
  background-color: white;
  right: 0px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-sizing: border-box;

  .h4 {
    font-weight: bold;
  }

  input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;
    font-weight: bold;
    background-color: #eee;
    outline: none;
  }

  .close {
    width: 30px;
    height: 30px;
    margin: auto 0 auto 10px;
    background-color: #eee;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-size: cover;
    background-image: url('./assets/icons/cross.svg');
    cursor: pointer;
  }

  button {
    margin: 10px;
    padding: 15px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    outline: none;
  }

  .loading {
    flex: 1;
    position: relative;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100px;
      height: 100px;
      background-size: cover;
      background-image: url('./assets/icons/loader.gif');
    }
  }

  .results {
    margin: 20px 0 0 0;
    flex: 1;
    
    .result {
      float: left;
      // width: 50%;

      .result-inner {
        padding: 10px;
        
        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
          border-radius: 3px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
};

// footer
.footer {
  width: 100%;
  height: 200px;
  background-color: #eee;
}

// item | favorites | item option
.display-item, .favorite-item {
  float: left;

  .display-item-inner, .favorite-item-inner {
    padding: 20px;
  }
}

.item-option {
  display: inline-block;
  flex: 0 0 auto;

  .item-option-inner {
    padding: 0 10px;
  }
}

.display-item, .favorite-item, .item-option {
  height: 100%;

  .display-item-inner, .favorite-item-inner, .item-option-inner {
    position: relative;
    width: 100%;

    .like, .remove {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: rgba(255,255,255,0.5);
      margin-left: auto;
      background-size: cover;
      cursor: pointer;

      &:hover {
        background-color: white;
      }
    }

    .like {
      background-image: url('./assets/icons/heart.svg');
      right: 30px;
      top: 65px;
    }

    .remove {
      background-image: url('./assets/icons/cross.svg');
      right: 30px;
      top: 30px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin-bottom: 10px;
    }

    select {
      flex: 1;
      padding: 10px;
      margin: 20px 10px 0 0;
      border: 1px solid gray;
      border-radius: 3px;
    }

    button {
      margin: 20px 0 0 auto;
      padding: 10px 20px;
      border-radius: 20px;
      border: 1px solid gray;
      color: gray;
      cursor: pointer;
      outline: none;

      &:hover {
        color: black;
      }
    }
  }

  .color-view-container {
    display: flex;
    margin-bottom: 10px;

    .color-view {
      width: 25px;
      height: 25px;
      border-radius: 100%;
      cursor: pointer;
      border: 1px solid #eee;
    }
  }
}

// home
.home {
  display: flex;
  justify-content: center;

  .item-container {
    padding: 0 20px;

    h1 {
      margin: 0 0 20px 0;
    }

    .display-item-body {

      .display-item-home {
        position: relative;
        cursor: pointer;
  
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
          display: block;
        }
  
        .msg {
          position: absolute;
          padding: 10px 20px;
          background-color: white;
          border-radius: 20px;
          font-size: 15px;
  
          &:hover {
            background-color: rgba(255,255,255,0.9);
          }
        }
      }
    }
  }
}

// display
.display {
  overflow: hidden;
  padding-top: 50px;
}

.display-header {
  margin: 5px auto 0 auto;
  border-top: 1px solid #eee;
  display: flex;
  
  .directory {
    margin: auto auto auto 0;
    margin-top: 10px;
  }

  .display-directory {
    margin: auto auto auto 0;
    margin-top: 10px;
  }

  .filter {
    margin: auto 10px 0 0;
    cursor: pointer;
  }

  .options {
    border: none;
    outline: none;
  }

  .sort-by-container {
    display: flex;
    margin: auto 0 0 0;

    p {
      padding-top: 1px;
    }
  }
}

.item-type-container {
  margin: 0 auto;
  padding: 10px 0 0 0;
  margin: auto 0 0 0;

  p {
    margin: 5px 0;
    cursor: pointer;
  }
}

// profile
.profile {
  overflow: hidden;
}

// profile & checkout
.navigation-header {
  padding: 20px;
  display: flex;
  border-bottom: 1px solid #eee;

  .navigation {
    margin: auto 0 auto auto;
    display: flex;

    h2 {
      cursor: pointer;
    }
  }
}

// settings
.settings {
  padding: 20px;
  width: 100%;

  form {
    width: 100%;
  }

  p {
    font-weight: bold;
    font-size: 10px;
    margin-top: 20px;
  }

  h1 {
    font-size: 20px;
    margin-top: 10px;
  }

  input {
    padding: 20px;
    width: 100%;
    background-color: #eee;
    border: 1px solid gray;
    margin: 10px 0 10px 0;
  }

  button {
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 30px;
    background-color: #eee;
    cursor: pointer;
    margin-top: 40px;
    float: right;
    outline: none;
  }
}

// Orders
.order-list {
  margin-top: 30px;
  padding: 20px;

  .ordered {
    margin-bottom: 60px;
    border: 1px solid gray;

    .order-header {
      background-color: #eee;
      padding: 20px;

      p {
        font-weight: bold;
        font-size: 10px;
      }
    }

    .order-body {
      padding: 40px;
      
      .order-options {
        display: flex;

        p {
          margin: 0 20px;
          font-weight: bold;
        }

        button {
          cursor: pointer;
          background-color: transparent;
          border: none;
          font-weight: bold;
          outline: none;
          font-size: 10px;
        }
      }
    }
  }
}

// order & cart
.order-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-bottom: 30px;

  .order-item-inner {

    .img-link {
      margin-right: 20px;

      img {
        width: 100%;
        height: 100%;
      }  
    }

    .order-info {
      margin: auto 0;
      height: 100%;
  
      p {
        color: gray;
      }
  
      button {
        margin-top: 10px;
        background: white;
        border: none;
        cursor: pointer;
        color: gray;
        outline: none;
      }
    }

    .quantity-container {
      display: flex;
      // margin: 0 0 0 auto;

      button {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: none;
        background-color: #eee;
        cursor: pointer;
        outline: none;
      }

      p {
        font-size: 15px;
      }
    }
  }
}

// checkout
.checkout {

}

// cart
.cart {
  
  .cart-items-container {
    flex: 1;
    padding: 40px 20px 0 20px;
  }
}

// cart & order
.summary {

  .total {
    font-size: 15px;
    margin: 20px 0 40px 0;
    padding: 20px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  button {
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    background-color: black;
    color: white;
    border: none;
  }

  .paypal {
    margin-top: 20px;
    background-color: #eee;
    color: black;
  }
}

// order
.order {
  .order-details {
    flex: 1;
    padding: 20px;

    p {
      font-size: 10px;
    }

    h1 {
      margin-bottom: 10px;
      font-size: 20px;
    }
  
    input, select {
      padding: 20px;
      border: 1px solid black;
      width: 100%;
      background-color: #eee;
      margin: 10px 0;
    }
  
    button {
      padding: 20px;
      margin: 10px;
    }
  }
}

// favorites
.favorites {
  margin: 30px 0;
}

// item
.item {
  padding: 10px;
  
  .item-top {
    padding: 0 10px;

    .item-left {
      flex: 1;
      width: 100%;
      overflow: auto;

      img {
        width: 50%;
        display: block;
        float: left;
      }
    }
  
    .item-right {
  
      .item-info {
        display: flex;
        margin-bottom: 20px;
  
        .item-type {
          color: gray;
        }
  
        .item-price {
          margin-left: auto;
          color: gray;
        }
      }
  
      .item-name {
        font-size: 20px;
        margin-bottom: 20px;
      }
  
      .item-select-info {
        margin-bottom: 10px;
      }
  
      select {
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
      }
  
      button {
        display: block;
        width: 100%;
        padding: 20px;
        border-radius: 30px;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        border: none;
      }
  
      .add {
        color: white;
        background-color: black;
        margin-bottom: 20px;
      }

      .favorite-container {
        display: flex;

        .favorite-icon {
          height: 40px;
          width: 40px;
          background-color: #eee;
          border-radius: 100%;
          margin: auto 0 auto 10px;
          background-size: cover;
        }

        .favorite {
          background-color: #eee;
          flex: 1;
        }
      }
    }
  }

  .item-bottom {
    
    h1 {
      font-size: 15px;
      margin: 60px 10px 20px 10px;
    }

    .item-options-container {
      display: flex;
      overflow-x: auto;
      padding-bottom: 20px;
    }
  }
}
