* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

.app-body {
  min-height: 100vh;

  .container {
    margin: 0 auto;
    padding: 60px 20px 40px 20px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-align {
  display: flex;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-inner, .container, .display-header, .item-type-container {
    width: 100%;

    .logo {
      margin-right: 10px;
      font-size: 10px;
    }

    .display-link {
      font-size: 10px;
      margin: auto 3px;
    }

    .header-icons-wrapper {
      margin: auto 3px;

      .header-icons {
        width: 15px;
        height: 15px;
      }
    }

    .end-icon {
      margin: auto 0 auto 3px;
    }

    .cart-indicator, .favorites-indicator {
      width: 6px;
      height: 6px;
    }

    .sort-by-container {
      p {
        font-size: 10px;
      }
    }
  }

  .header-modal {
    padding: 80px 40px 20px 40px;
    height: 100vh;
    top: 0px;

    .img-container {
      width: 100%;
    }
  }

  .search-modal {
    padding: 60px 10px 10px 10px;
    height: 100vh;
    width: 100%;

    h4 {
      margin-top: 10px;
    }

    input {
      width: 100%;
      flex: 1;
    }

    .results {
      .result {
        width: 50%;
      }
    }
  }

  .authenticate-modal {
    width: 100vw;
  }

  .notification-modal {
    width: 80%;
  }
  
  .update-password-modal {
    width: 80%;
  }

  .item-container {
    width: 100%;

    h1 {
      font-size: 15px;
    }

    .display-item-body {
      display: block;

      .display-item-home {
        width: 100%;

        .msg {
          bottom: 25px;
          left: 25px;
        }
      }

      .left-img {
        margin-bottom: 20px;
      }
    }
  }

  .navigation {
    h2 {
      margin: 0 0 0 5px;
      font-size: 10px;
    }
  }

  .directory, .display-directory, .filter {
    font-size: 10px;
  }

  .options {
    font-size: 10px;
    width: 85px; 
  }

  .item-type-container {

    p {
      font-size: 10px;
    }
  }

  .display-item, .favorite-item {
    width: 100%;
  }

  .item-option {
    width: 33.33%;

    p {
      font-size: 10px;
    }
  }

  .item-top, .order, .cart {
    display: block;
  }

  .item-right{
    width: 100%;
    margin-top: 10px;
  }

  .summary {
    width: 100%;
    padding: 0 20px;

    p {
      font-size: 10px;
    }
  }

  .order-details {
    p {
      font-size: 10px;
    }
  }

  .order-item-inner {
    display: block;

    .img-link {
      width: 100%;
      margin: 0 0 10px 0;
    }

    p, button {
      font-size: 12px;
    }

    .quantity-container {
      margin: 20px 0 0 auto;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-inner, .container, .display-header, .item-type-container {
    width: 100%;

    .logo {
      margin-right: 10px;
      font-size: 15px;
    }

    .display-link {
      font-size: 15px;
      margin: auto 3px;
    }

    .header-icons-wrapper {
      margin: auto 5px;

      .header-icons {
        width: 20px;
        height: 20px;
      }
    }

    .end-icon {
      margin: auto 0 auto 3px;
    }

    .cart-indicator, .favorites-indicator {
      width: 6px;
      height: 6px;
    }

    .sort-by-container {
      p {
        font-size: 10px;
      }
    }
  }

  .header-modal {
    padding: 80px 40px 20px 40px;
    height: 100vh;
    top: 0px;

    .img-container {
      width: 100%;
    }
  }

  .search-modal {
    padding: 60px 10px 20px 10px;
    width: 100%;

    h4 {
      margin: 10px;
    }

    input {
      margin-left: 10px;
      width: 50%;
    }

    .results {
      .result {
        width: 25%;
      }
    }
  }

  .authenticate-modal {
    width: 100vw;
  }

  .item-container {
    width: 100%;

    h1 {
      font-size: 15px;
    }

    .display-item-body {
      display: block;

      .display-item-home {
        width: 100%;

        .msg {
          bottom: 25px;
          left: 25px;
        }
      }

      .left-img {
        margin-bottom: 20px;
      }
    }
  }

  .navigation {
    h2 {
      margin: 0 0 0 20px;
      font-size: 15px;
    }
  }

  .directory {
    font-size: 15px;
  }

  .options {
    font-size: 10px; 
    width: 85px;
  }

  .filter, .display-directory {
    font-size: 10px;
  }

  .item-type-container {
    p {
      font-size: 15px;
    }
  }

  .display-item, .favorite-item {
    width: 50%;
  }

  .item-option {
    width: 25%;
  }

  .item-top, .order, .cart {
    display: block;
  }

  .item-right {
    width: 100%;
    margin-top: 10px;
  }

  .summary {
    width: 100%;
    padding: 0 20px;

    p {
      font-size: 12px;
    }
  }

  .order-item-inner {
    display: flex;

    .img-link {
      width: 30%;
    }

    p, button {
      font-size: 12px;
    }

    .quantity-container {
      margin: auto 0 auto auto;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-inner, .container, .display-header, .item-type-container {
    width: 100%;

    .logo {
      margin-right: 20px;
      font-size: 20px;
    }

    .display-link {
      font-size: 20px;
      margin: auto 10px;
    }

    .header-icons-wrapper {
      margin: auto 10px;

      .header-icons {
        width: 30px;
        height: 30px;
      }
    }

    .end-icon {
      margin: auto 0 auto 10px;
    }

    .cart-indicator, .favorites-indicator {
      width: 12px;
      height: 12px;
    }

    .sort-by-container {
      p {
        font-size: 12px;
      }

      select {
        font-size: 12px;
      }
    }

    .filter {
      font-size: 12px;
    }
  }

  .header-modal {
    height: auto;
    padding: 70px 20px 30px 20px;
    right: 0;
    top: 0;

    .img-container {
      width: 400px;
    }
  }

  .search-modal {
    padding: 60px 10px 20px 10px;
    width: 100%;
    
    h4 {
      margin: 10px;
    }

    input {
      margin-left: 10px;
      width: 50%;
    }

    .results {
      .result {
        width: 25%;
      }
    }
  }

  .authenticate-modal {
    width: 50vw;
  }

  .item-container {
    width: 100%;

    h1 {
      font-size: 20px;
    }

    .display-item-body {
      display: flex;
      width: 80%;
      margin: 0 auto;

      .display-item-home {
        width: 100%;

        .msg {
          bottom: 40px;
          left: 40px;
        }
      }

      .left-img {
        margin: 0 20px 0 0;
      }

      .right-img {
        margin: 0 0 0 20px;
      }
    }
  }

  .directory {
    font-size: 15px;
  }

  .options {
    font-size: 15px; 
    width: 110px;
  }

  .filter, .display-directory {
    font-size: 15px;
  }

  .item-type-container {
    p {
      font-size: 15px;
    }
  }

  .display-item, .favorite-item {
    width: 33.33%;
  }

  .item-option {
    width: 25%;
  }

  .item-top, .order, .cart {
    display: block;
  }

  .item-right, .summary {
    width: 100%;
    margin-top: 10px;
  }

  .summary {
    p {
      font-size: 12px;
    }
  }

  .order-item-inner {
    display: flex;

    .img-link {
      width: 20%;
    }

    p, button {
      font-size: 15px;
    }

    .quantity-container {
      margin: auto 0 auto auto;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-inner {
    width: 100%;
  }
  
  .container, .display-header, .item-type-container {
    width: 100%;

    .logo {
      margin-right: 20px;
      font-size: 20px;
    }

    .display-link {
      font-size: 20px;
      margin: auto 10px;
    }

    .header-icons-wrapper {
      margin: auto 10px;

      .header-icons {
        width: 30px;
        height: 30px;
      }
    }

    .end-icon {
      margin: auto 0 auto 10px;
    }

    .cart-indicator, .favorites-indicator {
      width: 12px;
      height: 12px;
    }

    .sort-by-container {
      p {
        font-size: 12px;
      }

      select {
        font-size: 12px;
      }
    }

    .filter {
      font-size: 12px;
    }
  }

  .header-modal {
    height: auto;
    padding: 70px 20px 30px 20px;
    right: 0;
    top: 0;

    .img-container {
      width: 400px;
    }
  }

  .search-modal {
    padding: 60px 10px 20px 10px;
    width: 800px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  
    h4 {
      margin: 10px;
    }

    input {
      margin-left: 10px;
      width: 50%;
    }

    .results {
      .result {
        width: 25%;
      }
    }
  }

  .authenticate-modal {
    width: 50vw;
  }

  .item-container {
    width: 100%;

    h1 {
      font-size: 25px;
    }

    .display-item-body {
      display: flex;
      width: 60%;
      margin: 0 auto;

      .display-item-home {
        width: 100%;

        .msg {
          bottom: 40px;
          left: 40px;
        }
      }

      .left-img {
        margin: 0 20px 0 0;
      }

      .right-img {
        margin: 0 0 0 25px;
      }
    }
  }

  .directory {
    font-size: 15px;
  }

  .options {
    font-size: 15px;
    width: 110px;
  }

  .filter, .display-directory {
    font-size: 15px;
  }

  .item-type-container {
    p {
      font-size: 15px;
    }
  }

  .display-item, .favorite-item {
    width: 25%;
  }

  .item-option {
    width: 25%;
  }

  .item-top, .order, .cart {
    display: flex;
  }

  .item-right, .summary {
    width: 400px;
    margin-left: 60px;
  }

  .summary {
    padding-top: 20px;

    p {
      font-size: 12px;
    }
  }

  .order-item-inner {
    display: flex;

    .img-link {
      width: 20%;
    }

    p, button {
      font-size: 15px;
    }

    .quantity-container {
      margin: auto 0 auto auto;
    }
  }
}

@media only screen and (min-width: 2000px) {
  .header-inner {
    width: 100%;
  }

  .display-header {
    padding: 0 40px;
  }
  
  .container, .display-header, .item-type-container {
    width: 2000px;

    .logo {
      margin-right: 20px;
      font-size: 20px;
    }

    .display-link {
      font-size: 20px;
      margin: auto 10px;
    }

    .header-icons-wrapper {
      margin: auto 10px;

      .header-icons {
        width: 30px;
        height: 30px;
      }
    }

    .end-icon {
      margin: auto 0 auto 10px;
    }

    .cart-indicator, .favorites-indicator {
      width: 12px;
      height: 12px;
    }

    .sort-by-container {
      p {
        font-size: 12px;
      }

      select {
        font-size: 12px;
      }
    }

    .filter {
      font-size: 12px;
    }
  }

  .header-modal {
    height: auto;
    padding: 70px 20px 30px 20px;
    right: 0;
    top: 0;

    .img-container {
      width: 400px;
    }
  }

  .search-modal {
    padding: 60px 10px 20px 10px;
    width: 800px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


    h4 {
      margin: 10px;
    }

    input {
      margin-left: 10px;
      width: 50%;
    }

    .results {
      .result {
        width: 25%;
      }
    }
  }

  .authenticate-modal {
    width: 100vw;
  }

  .item-container {
    width: 100%;

    h1 {
      font-size: 25px;
    }

    .display-item-body {
      display: flex;
      width: 60%;
      margin: 0 auto;

      .display-item-home {
        width: 100%;

        .msg {
          bottom: 40px;
          left: 40px;
        }
      }

      .left-img {
        margin: 0 20px 0 0;
      }

      .right-img {
        margin: 0 0 0 25px;
      }
    }
  }

  .directory {
    font-size: 15px;
  }

  .options {
    font-size: 15px;
    width: 110px;
  }

  .filter, .display-directory {
    font-size: 15px;
  }

  .item-type-container {
    padding: 10px 40px 0 40px;

    p {
      font-size: 15px;
    }
  }

  .display-item, .favorite-item {
    width: 25%;
  }

  .item-option {
    width: 25%;
  }

  .item-top, .order, .cart {
    display: flex;
  }

  .item-right, .summary {
    width: 600px;
    margin-left: 60px;
  }

  .summary {
    padding-top: 20px;

    p {
      font-size: 12px;
    }
  }

  .order-item-inner {
    display: flex;

    .img-link {
      width: 20%;
    }

    p, button {
      font-size: 15px;
    }

    .quantity-container {
      margin: auto 0 auto auto;
    }
  }
}